.container {
  background-color: rgb(0, 110, 255);
  background-image: url(https://images8.alphacoders.com/632/632051.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center center;
  overflow: hidden;
}

.goku-pic {
  height: 90%;
  position: absolute;
  right: 0%;
}

.info{
    margin-left: 20px;
}

.info h2{
    color: rgb(221,221,214);
}
.info p {
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(251,195,46);
}
span {
  font-weight: bolder;
  color: rgb(57, 204, 204);
}